.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

@font-face {
        font-family: 'Digital7Mono';
        src: url('../../static/fonts/digital-7_mono-webfont.eot');
        src: url('../../static/fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
             url('../../static/fonts/digital-7_mono-webfont.woff') format('woff'),
             url('../../static/fonts/digital-7_mono-webfont.ttf') format('truetype'),
             url('../../static/fonts/digital-7_mono-webfont.svg#Digital7Mono') format('svg');
        font-weight: normal;
        font-style: normal;
    }

span.background-num {
    position: relative;
    top: -64px;
    font-size: 64px;
    font-style: italic;
    letter-spacing: 5px;
    color: rgb(255, 0, 0);
    z-index: 1;
}

span.background-num.faint {
    position: relative;
    font-size: 64px;
    top: 0px;
    color: hsla(0, 0%, 0%, 0.1);
    z-index: 2;
}

li.samplebox {
    width: 10%;
    font-family: 'Digital7Mono';
    font-size: 64px;
    font-style: italic;
    letter-spacing: 5px;
    color: rgb(255, 0, 0);
    float: left;
    height: 75px;
    padding: 5px;
    line-height: 1;
    text-align: center;
    background-color: #C3D2DF;
    border: 2px solid #fff;
    display: list-item;
    list-style-type: none;
}

li.samplebox.active {
    background-color: #FA8072;
}

li.samplebox.uploading {
    background-color: #C3D2DF;
    color: rgb(0, 255, 0);
}

li.samplebox.ready {
    background-color: #C3D2DF;
    color: rgb(0, 255, 0);
}

li.samplebox.download {
    background-color: #C3D2DF;
    color: rgb(0, 0, 255);
}

li.samplebox.hot {
    background-color: #BF1515;
}
/*body {
    background-color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
}
*/

/*
#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}*/